.login-form{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
}
.login-form-error{
    color: #CB4C4E;
    margin-bottom: 16px;
}
.login-form-input-group{
    width:100%;
    margin-bottom: 16px;
}
.login-form-input{
    height:2.5rem;
    width: 100%;
    font-size: 1.25rem;
    padding:5px;
}
.login-form-input::placeholder{
    color:var(--text-secondary);
}
.login-form-input:focus
{
    outline: none;
    
}
.login-form-submit{
    height:2.5rem;
    width: 100%;
    font-size: 1.25rem;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius:5px;
    border:none;
    background-color: var(--secondary);

}
.login-form-submit:hover{
    cursor: pointer;
    border:2px solid var(--primary);
    background-color: var(--background-primary);
    color:var(--primary);
    box-shadow: var(--box-shadow);

}
.login-form-register{
    color:var(--primary);
    cursor: pointer;
    margin-left: 4px;
}
.login-form-register:hover{
    text-decoration: underline;
}