.library-hours{
    width: 100%;
    height:fit-content;
    padding:16px;
    border-radius: 12px;
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow);
}
.library-hours-table{
    width: 100%;
    border-collapse: collapse;
}
#hours tr{
    border: 1 px solid rgba(122,121,120,0.2);
}
#hours tr:nth-child(odd){
    background-color: #ebe9f6;
}
#hours tr:nth-child(even){
    background-color: #f3f2f8;
}
#hours td{
    font-size: 1.25rem;
}
